@{
    ViewData["Title"] = "Azure Cosmos DB | Build or modernize scalable, high-performance apps.";
    ViewData["Description"] = "Azure Cosmos DB is a fully managed NoSQL database service for modern app development.";
    ViewData["BodyCssClass"] = "home";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper();
}

@*@section scripts {
    <script src="~/bundles/js/home.js" asp-append-version="true" environmental="true"></script>
}*@

@section header  {
    <h1>Azure Cosmos DB</h1>
    <p class="lead">Fast NoSQL database with open API's for any scale</p>
    <p>
        <a class="btn btn-white btn-lg btn-scale" href="https://azure.microsoft.com/try/cosmosdb/" target="_blank" role="button">Try for Free</a>
    </p>
}

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="text-left">
            <h2>What is Azure Cosmos DB?</h2>
            <p class="mb-40">
                Azure Cosmos DB is Azure's highly scalable, distributed NoSQL database. Build new with the Core (SQL) API to enjoy all Azure Cosmos DB's features 
                and SLA's, or leverage your existing Cassandra, MongoDB or Gremlin skillset by using on our our capatibility API's.
            </p>
        </div>
        @{ await Html.RenderPartialAsync("_MultiModel"); }
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <h2>Why choose Azure Cosmos DB</h2>
        <p>
            Find out why customers all over the world, in many different industries, rely on Azure Cosmos DB.
        </p>
        <p><a class="btn btn-white btn-lg btn-scale" role="button" href="~/about/customers">Meet customers</a></p>
    </div>
</div>

@*<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultMargins:false)">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="max-height-200">
                    <img src="~/images/home/what-is-cosmos.svg" role="presentation" alt="" class="img-responsive img-responsive-450" asp-append-version="true" />
                </div>
                <h2 class="h3 mt-20">What is Azure Cosmos DB?</h2>
                <p>
                    Azure Cosmos DB is Microsoft's globally-distributed multi-model database service.
                </p>
                <p><a class="mt-10 mb-20" href="~/about">Learn more</a></p>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="max-height-200">
                    <img src="~/images/home/architecture-guides.svg" role="presentation" alt="" class="img-responsive img-responsive-450" asp-append-version="true" />
                </div>
                <h2 class="h3 mt-20">Architecture guides</h2>
                <p>
                    Architectural diagrams, source code, and practical advice to help you build with Azure Cosmos DB.
                </p>
                <p><a class="mt-10 mb-20" href="~/architecture">Explore guidance</a></p>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="max-height-200">
                    <img src="~/images/home/why-cosmos.svg" role="presentation" alt="" class="img-responsive img-responsive-450" asp-append-version="true" />
                </div>
                <h2 class="h3 mt-20">Why choose Azure Cosmos DB</h2>
                <p>
                    Find out why customers all over the world, in many different industries, rely on Azure Cosmos DB.
                </p>
                <p><a class="mt-10 mb-20" href="~/about/customers">Meet customers</a></p>
            </div>
        </div>
    </div>
</div>*@

@*<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="max-height-200">
                    <img src="~/images/home/code-samples.svg" role="presentation" alt="" class="img-responsive img-responsive-450" asp-append-version="true" />
                </div>
                <h2 class="h3 mt-20">Code Samples</h2>
                <p>
                    Check out all the code samples across multiple languages built around Azure Cosmos DB.
                </p>
                <p><a class="mt-10 mb-20" href="https://docs.microsoft.com/en-us/samples/browse/?expanded=azure&products=azure-cosmos-db" target="_blank">Browse samples</a></p>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="max-height-200">
                    <img src="~/images/home/workshops.svg" role="presentation" alt="" class="img-responsive img-responsive-450" asp-append-version="true" />
                </div>
                <h2 class="h3 mt-20">Workshops</h2>
                <p>
                    Find online and in-person training.
                </p>
                <p><a class="mt-10 mb-20" href="~/workshops">Find workshops</a></p>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="max-height-200">
                    <img src="~/images/home/presentations.svg" role="presentation" alt="" class="img-responsive img-responsive-450" asp-append-version="true" />
                </div>
                <h2 class="h3 mt-20">Presentations</h2>
                <p>
                    Watch our latest presentations, download decks.
                </p>
                <p><a class="mt-10 mb-20" href="~/presentations">See presentations</a></p>
            </div>
        </div>
    </div>
</div>*@

<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultMargins:false) home-customers pt-40 pb-40">
    <div id="cusotmers" class="container text-center">
        <h2>Customers using Azure Cosmos DB</h2>
        @{ await Html.RenderPartialAsync("_Logos"); }
    </div>
</div>



@{ await Html.RenderPartialAsync("_TryCosmos"); }
