@model IEnumerable<cosmosweb.Models.LiveSession>
@{ ViewData["Title"] = "Azure Cosmos DB Conf";
    ViewData["Description"] = "Azure Cosmos DB Conf is a free online event.";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper(); }

@section header {
    <h1>Azure Cosmos DB Conf</h1>
}
<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultPadding: false)">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-08">
                <span>
                    <a href="~/conf" target="_self" class="btn btn-default">Conf Home</a>
                    <a href="~/conf/ondemand" target="_self" class="btn btn-default">On-Demand</a>
                    <a href="~/conf/speakers" target="_self" class="btn btn-default">Speakers</a>
                </span>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h3 onclick="">Live Stream Schedule</h3>
            </div>
            <div class="col-sm-2"></div>
        </div>

        @foreach (var item in Model)
        {
            string utcTime = item.StartsAt;

            DateTime currentDateTime = DateTime.Now; //UTC
            DateTime goLiveDateTime = new DateTime(2021, 04, 20, 15, 45, 00); //UTC
            DateTime showEndDateTime = new DateTime(2021, 04, 21, 12, 00, 00);
            int goLive = DateTime.Compare(currentDateTime, goLiveDateTime);
            int goOffAir = DateTime.Compare(showEndDateTime, currentDateTime);
            string watchUrl = "";



            if (goLive < 0) //Current Date less than Go Live
                watchUrl = "";
            else if(goOffAir < 0) //post show
                if (item.Watch == "")
                    watchUrl = "";
                else
                    watchUrl = item.Watch;
            else //conference still live
                if (item.Watch == "")
                watchUrl = "https://docs.microsoft.com/en-us/learn/tv/?WT.mc_id=cosmosdb-20533-mjbrown";
            else
                watchUrl = item.Watch;



            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="media" style="border-style:solid;border-color:silver;border-width:thin;">
                        <div class="media-body">
                            <div style="background-color:#0078D4">
                                <h4 style="color:#FFFFFF"><time>@utcTime</time></h4>
                            </div>
                            <div style="padding-left:4px;padding-right:4px;">
                                <h4><b><a href="@Html.DisplayFor(modelItem => watchUrl)" target="_blank">@Html.DisplayFor(modelItem => item.Title)</a></b></h4>
                                <p>@Html.DisplayFor(modelItem => item.Description)</p>
                                @foreach (var speaker in item.Speakers)
                                {
                                    <p>
                                        <div style="color:maroon">@Html.DisplayFor(modelItem => speaker.Name)</div>
                                    </p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        }
    </div>
</div>
@section scripts{
    <script>
        $("time").each(function (elem) {
            var utctimeval = $(this).html();
            var date = new Date(utctimeval);
            $(this).html(date.toLocaleString());
        })
    </script>
}
