@model IEnumerable<cosmosweb.Models.OnDemandSession>
@{ ViewData["Title"] = "Azure Cosmos DB Conf";
    ViewData["Description"] = "Azure Cosmos DB Conf is a free online event.";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper(); }

@section header {
    <h1>Azure Cosmos DB Conf</h1>
}
<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultPadding: false)">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-08">
                <span>
                    <a href="~/conf" target="_self" class="btn btn-default">Conf Home</a>
                    <a href="~/conf/livestream" target="_self" class="btn btn-default">Live</a>
                    <a href="~/conf/speakers" target="_self" class="btn btn-default">Speakers</a>
                </span>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h3>On Demand Sessions</h3>
            </div>
            <div class="col-sm-2"></div>
        </div>

        @foreach (var item in Model)
        {
            DateTime currentDateTime = DateTime.Now; //UTC
            DateTime goLiveDateTime = new DateTime(2021, 04, 20, 15, 45, 00); //UTC
            int goLive = DateTime.Compare(currentDateTime, goLiveDateTime);
            string watchUrl = "";

            if (goLive < 0) //Current Date less than Go Live
                watchUrl = "";
            else
                watchUrl = item.Watch;


            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 pl-1 pr-1">
                    <div class="media" style="border-style:solid;border-color:silver;border-width:thin">
                        <div class="media-body" style="padding-left:4px;padding-right:4px;">
                            <h4><b><a href="@Html.DisplayFor(modelItem => watchUrl)" target="_blank">@Html.DisplayFor(modelItem => item.Title)</a></b></h4>
                            <p>@Html.DisplayFor(modelItem => item.Description)</p>
                            @foreach (var speaker in item.Speakers)
                            {
                                <p>@Html.DisplayFor(modelItem => speaker.Name)</p>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        }
    </div>
</div>
