@{
    ViewData["Title"] = "Azure Cosmos DB SDKs";
    ViewData["Description"] = "Download the Azure Cosmos DB SDKs and official samples.";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper();
}

@section header {
    <h1>Azure Cosmos DB SDKs</h1>
}

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="media-grid">
            <div class="row">
                <div class="col-md-3">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="https://www.nuget.org/packages/Microsoft.Azure.Cosmos/" target="_blank"><span class="ms-Image"><img src="~/images/community/net-logo.png" role="presentation" alt="" asp-append-version="true" /></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="https://www.nuget.org/packages/Microsoft.Azure.Cosmos/" target="_blank">.NET SDK</a></h2>
                            <p>Download the <a href="https://www.nuget.org/packages/Microsoft.Azure.Cosmos/" target="_blank">.NET SDK from Nuget</a> or <a href="https://github.com/azure/azure-cosmos-dotnet-v3" target="_blank">fork the GitHub repository</a> with the source code and official samples.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="https://mvnrepository.com/artifact/com.azure/azure-cosmos" target="_blank"><span class="ms-Image"><img src="~/images/community/java-logo.png" role="presentation" alt="" asp-append-version="true" /></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="https://mvnrepository.com/artifact/com.azure/azure-cosmos" target="_blank">Java SDK</a></h2>
                            <p>Download the <a href="https://mvnrepository.com/artifact/com.azure/azure-cosmos" target="_blank">Java SDK from Maven</a> or <a href="https://github.com/Azure/azure-cosmosdb-java/" target="_blank">fork the GitHub repository</a> with the source code and official samples.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="https://www.npmjs.com/package/@@azure/cosmos" target="_blank"><span class="ms-Image"><img src="~/images/community/node-js-logo.png" role="presentation" alt="" asp-append-version="true" /></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="https://www.npmjs.com/package/@@azure/cosmos" target="_blank">Node.js SDK</a></h2>
                            <p>Download the <a href="https://www.npmjs.com/package/@@azure/cosmos" target="_blank">Node.js SDK from NPM</a> or <a href="https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/cosmosdb/cosmos" target="_blank">fork the GitHub repository</a> with the source code and official samples.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="media">
                        <div class="media-left" aria-hidden="true">
                            <a href="https://pypi.org/project/azure-cosmos/" target="_blank"><span class="ms-Image"><img src="~/images/community/python-logo.png" role="presentation" alt="" asp-append-version="true" /></span></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading h3"><a href="https://pypi.org/project/azure-cosmos/" target="_blank">Python SDK</a></h2>
                            <p>Download the <a href="https://pypi.org/project/azure-cosmos/" target="_blank">Python SDK from PyPI</a> or <a href="https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/cosmos/azure-cosmos" target="_blank">fork the GitHub repository</a> with the source code and official samples.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultPadding: false)">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/illustrations/embed-github-snippet.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Official SDKs & Tools</h2>
                <p>
                    SQL (Core) API SDKs with samples and tools from the Azure Cosmos DB team. Also be sure to
                    check out our <a href="https://github.com/Azure/cosmos" target="_blank">Hub for Azure Cosmos DB content on GitHub</a></p>
                <ul>
                    <li><a href="https://github.com/Azure/azure-cosmos-dotnet-v2" target="_blank">.NET SDK v2</a></li>
                    <li><a href="https://github.com/azure/azure-cosmos-dotnet-v3" target="_blank">.NET SDK v3 (preview)</a></li>
                    <li><a href="https://github.com/Azure/azure-cosmosdb-java/" target="_blank">Java Async SDK</a></li>
                    <li><a href="https://github.com/Azure/azure-cosmos-js/" target="_blank">JavaScript SDK</a></li>
                    <li><a href="https://github.com/Azure/azure-cosmos-python/" target="_blank">Python SDK</a></li>
                    <li><a href="https://github.com/Azure/azure-cosmosdb-js-server/" target="_blank">Server-Side JavaScript Samples</a></li>
                    <li><a href="https://github.com/Azure/azure-cosmosdb-spark/" target="_blank">Azure Cosmos DB Connector for Apache Spark</a></li>
                    <li><a href="https://github.com/Azure/azure-documentdb-changefeedprocessor-dotnet/" target="_blank">Change Feed Processor library (v2)</a></li>
                    <li>BulkExecutor library for <a href="https://github.com/Azure/azure-cosmosdb-bulkexecutor-dotnet-getting-started/" target="_blank">.NET</a> and <a href="https://github.com/Azure/azure-cosmosdb-bulkexecutor-java-getting-started/" target="_blank">Java</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/shared/samples-hero-background.png" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Community Samples</h2>
                <p>More projects and samples from Microsoft and the community.</p>
                <ul>
                    <li><a href="https://azure.microsoft.com/en-us/resources/samples/?sort=0&service=cosmos-db" target="_blank">Catalog of 50 code samples for Azure Cosmos DB</a></li>
                    <li><a href="https://github.com/seesharprun/cosmos-demo" target="_blank">Scalability and performance demo</a></li>
                    <li><a href="https://github.com/cjoakim/azure-cosmosdb-travel" target="_blank">CosmosDB Graph database exploration with OpenFlights.org Travel Data</a></li>
                    <li><a href="https://github.com/Azure/azure-cosmos-dotnet-v2/tree/master/samples/Patterns" target="_blank">Patterns for working with Azure Cosmos DB</a></li>
                    <li><a href="https://github.com/Microsoft/spring-data-gremlin" target="_blank">Spring Data Gremlin</a></li>
                    <li><a href="https://github.com/Azure-Samples/aci-event-driven-worker-queue" target="_blank">ACI Event Driven Worker Queue</a></li>
                    <li><a href="https://github.com/syedhassaanahmed/databricks-notebooks/blob/master/graph_write_cosmosdb.py" target="_blank">Writing GraphFrames to Azure Cosmos DB Gremlin API</a></li>
                    <li><a href="https://github.com/ealsur/serverless-recipes" target="_blank">Compendium of Serverless samples with Azure Cosmos DB</a></li>
                    <li><a href="https://github.com/aliuy/azure-cosmosdb-global" target="_blank">Throughput and Latency demo</a></li>
                    <li><a href="https://github.com/jeffhollan/functions-java-eventhub-to-cosmosdb" target="_blank">Sample Java Azure Function: reads from event hub, creates CosmosDB items</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>*@

 @{ await Html.RenderPartialAsync("_TryCosmos"); }
