@model IEnumerable<cosmosweb.Models.Episode>
@{ var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper(); }

<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultPadding: false)">
    <div class="container">
        @foreach (var item in Model)
        {
            
            string utcTime = DateTime.Parse(item.StreamDate).ToShortDateString();

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10" style="background-color:silver">
                    <h4>@utcTime</h4>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="media">
                        <div class="media-left">
                            <iframe width="280" height="157" src="@Html.DisplayFor(modelItem => item.EmbedUri)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="media-body">
                            <h4><b><a href="@Html.DisplayFor(modelItem => item.WatchUri)" target="_blank">@Html.DisplayFor(modelItem => item.Title)</a></b></h4>
                            <p>@Html.DisplayFor(modelItem => item.Description)</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        }
    </div>
</div>

