@model cosmosweb.Models.Episode

@{
    ViewData["Title"] = "Details";
}

@section header {
    <h1>Azure Cosmos DB Live TV Episodes</h1>
}

<h2>Details</h2>

<div>
    <h4>Episode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StreamDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StreamDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmbedUri)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmbedUri)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WatchUri)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WatchUri)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
