@{
    ViewData["Title"] = "Gaming Architecture Guidance";
    ViewData["Description"] = "Learn how to architect gaming applications with Azure Cosmos DB for NoSQL.";
    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper();
}

@section header {
    <h1>Gaming architecture guidance</h1>
}

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/architecture/gaming.png" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Gaming applications</h2>
                <p>Elastically scale your database to accommodate unpredictable bursts of traffic and deliver low-latency multi-player experiences on a global scale.</p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="https://docs.microsoft.com/gaming/azure/reference-architectures/media/leaderboard/leaderboard-change-feed.png" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Gaming Leaderboards Sample</h2>
                <p>Advanced game Leaderboards for large scale using Azure Functions Azure Cosmos DB</p>
                <p><a href="https://docs.microsoft.com/gaming/azure/reference-architectures/leaderboard-non-relational#advanced-leaderboard-for-large-scale" target="_blank" class="btn btn-default">Explore architecture guidance</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="https://docs.microsoft.com/gaming/azure/reference-architectures/media/analytics/analytics-in-editor-debugging-telemetry.png" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Gaming Analytics Sample</h2>
                <p>An In-editor Debugging Telemetry Reference Architecture with sample implementation on GitHub</p>
                <p><a href="https://docs.microsoft.com/gaming/azure/reference-architectures/analytics-in-editor-debugging" target="_blank" class="btn btn-default">Explore sample</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="https://github.com/BrianPeek/Scavenger/raw/master/docs/images/title.png?raw=true" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Scavenger Sample Game</h2>
                <p>
                    Scavenger is a virutal scavenger hunt game written in Unity. Each day players are presented with a
                    list of items to take a photo of. If the Computer Vision API determines the photo contains the required object, a point is awarded.
                </p>
                <p><a href="https://docs.microsoft.com/sandbox/gamedev/azure-gaming-samples#scavenger" target="_blank" class="btn btn-default">Explore sample</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/illustrations/toolbox.svg" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Additional Resources</h2>
                <p>To learn more about building gaming applications with Azure Cosmos DB for NoSQL, check out these resources.</p>
                <ul>
                    <li><a href="https://docs.microsoft.com/gaming/azure/" target="_blank">Get started with Azure Gaming</a></li>
                    <li><a href="https://www.youtube.com/watch?v=nC3DLKiXxmg&list=PLRs2lXTYCDQ3avKNzWFe6LScJZcXj0nDy&index=2" target="_blank">Azure Cosmos DB: Build Lightning Fast Games with High-availability and Massive Scale - Game Stack Live 2021</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("_TryCosmos"); }

