@{
    ViewData["Title"] = "IoT and Stream Processing Architecture Guidance";
    ViewData["Description"] = "Learn how to architect IoT and Stream Processing applications with Azure Cosmos DB.";
    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper();
}

@section header {
    <h1>Internet of Things architectural guidance</h1>
}

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/architecture/iot.png" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>IoT applications</h2>
                <p>Scale instantly and elastically to accommodate diverse and unpredictable IoT workloads without sacrificing ingestion or query performance.</p>
                <p><a href="https://docs.microsoft.com/azure/cosmos-db/use-cases#iot-and-telematics" target="_blank" class="btn btn-default">Read more on IoT</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="https://docs.microsoft.com/azure/architecture/reference-architectures/data/images/stream-processing-databricks.png" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Stream Processing with Databricks and Azure Cosmos DB</h2>
                <p>This reference architecture shows an end-to-end stream processing pipeline and includes a reference implementation on GitHub.</p>
                <p><a href="https://docs.microsoft.com/azure/architecture/reference-architectures/data/stream-processing-databricks" target="_blank" class="btn btn-default">Read more and deploy solution</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="https://docs.microsoft.com/azure/architecture/reference-architectures/data/images/stream-processing-asa/stream-processing-asa.png" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Stream Processing with Azure Stream Analytics and Azure Cosmos DB</h2>
                <p>This reference architecture shows an end-to-end stream processing pipeline and includes a reference implementation on GitHub</p>
                <p><a href="https://docs.microsoft.com/azure/architecture/reference-architectures/data/stream-processing-stream-analytics" target="_blank" class="btn btn-default">Read more and deploy solution</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/illustrations/iot-devices.svg" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Hot Path Analytics</h2>
                <p>This is a complete IoT reference implementation that includes a module on doing hot path analytics with Azure Stream Analytics and Azure Cosmos DB.</p>
                <p><a href="https://azure-samples.github.io/azureiotlabs/CosmosDB/" target="_blank" class="btn btn-default">Explore sample app on GitHub</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/illustrations/iot-devices.svg" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Streaming at Scale sample application</h2>
                <p>Create an end-to-end IoT streaming application with load tests using Azure Cosmos DB.</p>
                <p><a href="https://github.com/Azure-Samples/streaming-at-scale/tree/master/eventhubs-functions-cosmosdb" target="_blank" class="btn btn-default">Explore sample app on GitHub</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/illustrations/toolbox.svg" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Additional Resources</h2>
                <p>To learn more about building IoT and Streaming Applications with Azure Cosmos DB, check out these resources.</p>
                <ul>
                    <li><a href="https://docs.microsoft.com/azure/cosmos-db/lambda-architecture" target="_blank">Azure Cosmos DB + Lambda Architecture</a></li>
                    <li><a href="https://docs.microsoft.com/azure/cosmos-db/spark-connector" target="_blank">Apache Spark and Azure Cosmos DB Overview</a></li>
                    <li><a href="https://github.com/azure/azure-cosmosdb-spark/" target="_blank">Azure Cosmos DB Connector for Apache Spark on GitHub</a></li>
                    <li><a href="https://www.youtube.com/watch?v=TJzQjUh0Sxw" target="_blank">Video: Building massively scalable IoT data pipelines with Azure Cosmos DB</a></li>
                    <li><a href="https://www.youtube.com/watch?v=TJcEP6AX02U" target="_blank">Video: Lambda architecture simplified with Azure Cosmos DB and Azure Databricks</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("_TryCosmos"); }

