@{
    ViewData["Title"] = "Personalization Architecture Guidance";
    ViewData["Description"] = "Learn how to architect personalization and recommendation applications with Azure Cosmos DB.";
    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper();
}

@section header {
    <h1>Recommendation engines architecture guidance</h1>
}

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/architecture/personalization.png" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Personalized recommendation applications</h2>
                <p>Generate personalized recommendations for customers in real time, using low-latency and tunable consistency settings for immediate insights.</p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="https://docs.microsoft.com/azure/architecture/reference-architectures/ai/_images/recommenders-architecture.png" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Build a real-time recommendation API on Azure</h2>
                <p>This reference architecture shows how to train a recommendation model using Azure Databricks and deploy it as an API by using Azure Cosmos DB and includes a reference implementation on GitHub</p>
                <p><a href="https://docs.microsoft.com/azure/architecture/reference-architectures/ai/real-time-recommendation" target="_blank" class="btn btn-default">Read more and deploy solution</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="https://github.com/AzureCosmosDB/scenario-based-labs/raw/master/Retail/media/solution-diagram-1.png" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Retail hands-on-lab with recommendation engine</h2>
                <p>This reference architecture for a retail workload and comes with a complete reference implementation in GitHub.</p>
                <p><a href="https://github.com/AzureCosmosDB/scenario-based-labs/blob/master/Retail/Demo%20step-by-step%20-%20Cosmos%20DB%20scenario-based%20demo%20-%20Retail.md" target="_blank" class="btn btn-default">Read more and deploy solution</a></p>
            </div>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("_TryCosmos"); }

