
@{
    ViewData["Title"] = "Retail Architecture Guidance";
    ViewData["Description"] = "Learn how to architect retail and ecommerce applications with Azure Cosmos DB.";
    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper();
}

@section header {
    <h1>Retail and ecommerce architecture guidance</h1>
}

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/architecture/retail.png" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Retail and ecommerce applications</h2>
                <p>Support in-depth queries over diverse product catalogs, traffic spikes, and rapidly changing inventory.</p>
                <p><a href="https://docs.microsoft.com/azure/cosmos-db/use-cases#retail-and-marketing" target="_blank" class="btn btn-default">Read more on Retail</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="https://docs.microsoft.com/azure/architecture/example-scenario/data/media/architecture-ecommerce-order-processing.png" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Scalable order processing on Azure</h2>
                <p>This example scenario is relevant to organizations that need a highly scalable and resilient architecture for online order processing.</p>
                <p><a href="https://docs.microsoft.com/azure/architecture/example-scenario/data/ecommerce-order-processing" target="_blank" class="btn btn-default">Read more and deploy solution</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/architecture/serverless.png" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Event-driven Order Processing</h2>
                <p>Use Azure Functions and Change Feed in Azure Cosmos DB to build a serverless order processing engine.</p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/illustrations/screen-tools-erector.svg" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Real-time retail data analysis</h2>
                <p>Reference Solution for Real-Time Data Analysis with Azure Cosmos DB Change Feed (+ Azure Functions, Azure Event Hubs, Azure Stream Analytics, Power BI).</p>
                <p><a href="https://github.com/Azure-Samples/azure-cosmos-db-change-feed-dotnet-retail-sample" target="_blank" class="btn btn-default">Retail solution on GitHub</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="https://github.com/Microsoft/SmartHotel360/raw/master/Documents/Images/Diagram.png" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Sentiment analytis</h2>
                <p>A simple Node.js website to analyze customer sentiment from Twitter. Part of the larger <a href="https://azure.microsoft.com/en-us/campaigns/smarthotel360/" target="_blank">SmartHotel360</a> reference, a fictitious smart hospitality company showcasing the future of connected travel.</p>
                <p><a href="https://github.com/Microsoft/SmartHotel360-SentimentAnalysis" target="_blank" class="btn btn-default">Sentiment analysis solution on GitHub</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/illustrations/toolbox.svg" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Additional Resources</h2>
                <p>To learn more about building Retail Applications with Azure Cosmos DB, check out these resources.</p>
                <ul>
                    <li><a href="https://docs.microsoft.com/azure/cosmos-db/serverless-computing-database" target="_blank">Azure Cosmos DB Serverless Overview</a></li>
                    <li><a href="https://docs.microsoft.com/azure/azure-functions/functions-bindings-cosmosdb-v2" target="_blank">Azure Functions - Azure Cosmos DB Bindings</a></li>
                    <li><a href="https://github.com/Azure/azure-documentdb-changefeedprocessor-dotnet" target="_blank">Change Feed Processor library (v2)</a></li>
                    <li><a href="https://docs.microsoft.com/azure/hdinsight/apache-kafka-spark-structured-streaming-cosmosdb?toc=/azure/cosmos-db/toc.json" target="_blank">Use Apache Kafka with Azure Cosmos DB</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("_TryCosmos"); }

