
@{
    ViewData["Title"] = "Retail Architecture Guidance";
    ViewData["Description"] = "Learn how to architect retail and ecommerce applications with Azure Cosmos DB.";
    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper();
}

@section header {
    <h1>Retail and ecommerce architecture guidance</h1>
}

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/architecture/retail.png" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Retail and ecommerce applications</h2>
                <p>Support in-depth queries over diverse product catalogs, traffic spikes, and rapidly changing inventory.</p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="https://docs.microsoft.com/azure/architecture/example-scenario/data/media/architecture-ecommerce-order-processing.png" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Scalable order processing on Azure</h2>
                <p>This example scenario is relevant to organizations that need a highly scalable and resilient architecture for online order processing.</p>
                <p><a href="https://docs.microsoft.com/azure/architecture/example-scenario/data/ecommerce-order-processing" target="_blank" class="btn btn-default">Read more and deploy solution</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="https://github.com/AzureCosmosDB/scenario-based-labs/raw/master/Retail/media/solution-diagram-1.png" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Retail hands-on-lab with recommendation engine</h2>
                <p>This reference architecture for a retail workload and comes with a complete reference implementation in GitHub.</p>
                <p><a href="https://github.com/AzureCosmosDB/scenario-based-labs/blob/master/Retail/Demo%20step-by-step%20-%20Cosmos%20DB%20scenario-based%20demo%20-%20Retail.md" target="_blank" class="btn btn-default">Read more and deploy solution</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/illustrations/screen-tools-erector.svg" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Real-time retail data analysis</h2>
                <p>Reference Solution for Real-Time Data Analysis with Azure Cosmos DB Change Feed (+ Azure Functions, Azure Event Hubs, Azure Stream Analytics, Power BI).</p>
                <p><a href="https://github.com/Azure-Samples/azure-cosmos-db-change-feed-dotnet-retail-sample" target="_blank" class="btn btn-default">Retail solution on GitHub</a></p>
            </div>
        </div>
    </div>
</div>


@{ await Html.RenderPartialAsync("_TryCosmos"); }

