
@{
    ViewData["Title"] = "Serverless Architecture Guidance";
    ViewData["Description"] = "Learn how to architect serverless and event-driven applications with Azure Cosmos DB.";
    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper();
}

@section header {
    <h1>Serverless architecture guidance</h1>
}

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/architecture/serverless.png" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Get started Azure Cosmos DB Serverless and Azure Functions</h2>
                <p>
                    Read about how to get started with <a href="https://docs.microsoft.com/azure/cosmos-db/serverless" target="_blank">Azure Cosmos DB serverless</a> then use with Azure Functions to build distributed and scalable serverless applications.
                </p>
                <p><a href="https://docs.microsoft.com/azure/cosmos-db/sql/serverless-computing-database" target="_blank" class="btn btn-default">Build with Azure Functions</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="https://docs.microsoft.com/azure/architecture/reference-architectures/serverless/_images/serverless-web-app.png" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Serverless web apps</h2>
                <p>This reference architecture shows a serverless web application using Azure Functions with Azure Cosmos DB and includes a reference implementation on GitHub</p>
               <p><a href="https://docs.microsoft.com/azure/architecture/reference-architectures/serverless/web-app" target="_blank" class="btn btn-default">Read more and deploy solution</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="https://docs.microsoft.com/samples/mspnp/vnet-integrated-serverless-microservices/vnet-integrated-serverless/media/projectarchitecture.png " alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Virtual network integrated serverless microservices</h2>
                <p>This reference architecture shows how to build microservices for a healthcare scenario that requires the use of a virtual network to keep requests and data secure.</p>
               <p><a href="https://docs.microsoft.com/azure/architecture/reference-architectures/serverless/web-app" target="_blank" class="btn btn-default">Read more</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="https://docs.microsoft.com/azure/architecture/reference-architectures/serverless/_images/serverless-event-processing.png" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Serverless event processing</h2>
                <p>This reference architecture shows an end-to-end stream processing pipeline using Azure Functions and Azure Cosmos DB and includes a reference implementation on GitHub</p>
                <p><a href="https://docs.microsoft.com/azure/architecture/reference-architectures/serverless/event-processing" target="_blank" class="btn btn-default">Read more and deploy solution</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/illustrations/toolbox.svg" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Additional Resources</h2>
                <p>To learn more about building serverless applications with Azure Cosmos DB, check out these resources.</p>
                <ul>
                    <li><a href="https://docs.microsoft.com/azure/azure-functions/functions-bindings-cosmosdb-v2" target="_blank">Azure Functions - Azure Cosmos DB Bindings</a></li>
                    <li><a href="https://docs.microsoft.com/azure/cosmos-db/sql/change-feed-processor" target="_blank">Change Feed Processor in Azure Cosmos DB</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("_TryCosmos"); }

