
@{
    ViewData["Title"] = "Global Web Architecture Guidance";
    ViewData["Description"] = "Learn how to architect globally web applications with Cosmos DB.";
    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper();
}

@section header {
    <h1>Web applications architectural guidance</h1>
}

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/architecture/web.png" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Globally distributed applications</h2>
                <p>Azure Cosmos DB is a globally distributed database. Data written to Cosmos DB can be replicated to any regions you select in milliseconds globally. This provides
                   low-latency and high-availability to data to your users around the world.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="https://docs.microsoft.com/azure/architecture/reference-architectures/app-service-web-app/images/multi-region-web-app-diagram.png" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Multi-region web app</h2>
                <p> This reference architecture shows how to run an Azure App Service application in multiple regions to achieve high availability.</p>
                <p><a href="https://docs.microsoft.com/azure/architecture/reference-architectures/app-service-web-app/multi-region" target="_blank" class="btn btn-default">Read more on global web apps</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/illustrations/embed-github-snippet.svg" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>To-Do List sample web application</h2>
                <p>See the concepts for creating a web app on Cosmos DB.</p>
                <p><a href="https://github.com/Azure-Samples/documentdb-dotnet-todo-app" target="_blank" class="btn btn-default">Explore Sample App on GitHub</a></p>

            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/illustrations/toolbox.svg" alt="" role="presentation" class="img-responsive img-responsive-center img-responsive-swimlane" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Additional Resources</h2>
                <p>To learn more about building Web Applications with Cosmos DB, check out these resources.</p>
                <ul>
                    <li><a href="https://docs.microsoft.com/azure/cosmos-db/sql-api-dotnet-application">ASP.NET MVC Tutorial with Azure Cosmos DB</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("_TryCosmos"); }

