@{
    ViewData["Title"] = "Customers";
    ViewData["Description"] = "Customers all over the world, in many different industries, rely on Azure Cosmos DB for their business.";
    ViewData["BodyCssClass"] = "customers";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper();
}

@section header {
    <h1>Azure Cosmos DB Customers</h1>
    <p class="lead">Customers all over the world, in many different industries, rely on Azure Cosmos DB. Click a logo to hear what they say.</p>
}

<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultMargins:false) home-customers pt-40 pb-40">
    <div id="cusotmers" class="container text-center">
        @{ await Html.RenderPartialAsync("_Logos"); }
    </div>
</div>

<div id="coca-cola" class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultMargins:false)">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/coca-cola.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Coca-Cola</h2>
                <p>
                    Being able to scale globally and have insights that are actually delivered within minutes at a
                    global scale. Is very, very important for us. Putting our data in a service like Cosmos DB allows
                    us to draw insights much faster going from hours that we used to take a couple years ago, to down
                    to minutes. We want to use our work on the Cosmos DB technology as a way to unlock new use cases
                    that we can light up across the globe and create value for our business.
                </p>
                <p>- Neeraj Tolmare, CIO, Global Head of Digital & Innovation at The Coca-Cola Company</p>
            </div>
        </div>
    </div>
</div>

<div id="citrix" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/citrix.jpg" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Citrix</h2>
                <p>Citrix Cloud is built and serviced from within Azure and leverages Cosmos DB for some of our 
                most mission-critical functions. The secure management of multiple tenants, with data security 
                at global scale, is a core design principle for Citrix Cloud that is enabled by our use of 
                services like Cosmos DB.</p>
                <p>We needed a globally distributed database that seamlessly and elastically scales to serve 
                our global customers. As our services grow, we need extra computing power to cope with demand 
                and manage our large datasets automatically behind the scenes without the burden of complex 
                online data migrations, freeing our engineering teams to concentrate on business. Cosmos DB 
                enabled us to seamlessly scale with zero downtime. We've been impressed with Azure Cosmos DB, 
                as Citrix cloud has grown, and Cosmos DB databases have grown while still maintaining its 
                99.999% availability and other SLAs.</p>
                <p>Another example, Resource Tokens for Cosmos DB, helps us to add a strong and critical 
                isolation element between our tenants. The rapid pace of solid innovation from the Cosmos DB 
                team continues to enable more capabilities for Citrix Cloud as our needs evolve.</p>
                <p>- Terry Duchastel, Senior Principal Architect, Citrix</p>
            </div>
        </div>
    </div>
</div>

<div id="abb" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/abb.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>ABB</h2>
                <p>
                    ABB requires a database that is flexible, adaptable and scalable, and Azure Cosmos DB 
                    provides these capabilities to address the needs of our multiple projects. We make use 
                    of the enterprise features and various APIs, including the Azure Cosmos DB Gremlin API 
                    to create cloud-native project to support all of our customer's needs around the world.
                </p>
                <p>- Pawel Rzadkowski, Development Manager at ABB</p>
            </div>
        </div>
    </div>
</div>

<div id="quest" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/quest.jpg" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Quest</h2>
                <p>
                    For Quest's Spotlight Cloud, we needed a solution that would be highly available, 
                    scalable, and performant to support our growing customer base, who rely on Spotlight 
                    for their SQL Server performance monitoring and diagnostics. Azure Cosmos DB suited 
                    our use case perfectly: handles massive writes at scale, excellent read response times, 
                    high availability (99.999%), all with low operational overhead and TCO! We were able 
                    to quickly build a proof of concept and go into production in less than 8 months. As 
                    we onboard more customers, we value the predictability in terms of performance, latency, 
                    and reliability of Azure Cosmos DB.
                </p>
                <p>- Patrick O'Keeffe, VP of Software Engineering at Quest Software</p>
            </div>
        </div>
    </div>
</div>

<div id="aveva" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/aveva-schneider.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Aveva</h2>
                <p>
                    AVEVA is in a constant innovation cycle, and it is critical for us to use technologies 
                    that allow us to increase our development agility. AVEVA Connect leverages Azure Cosmos DB 
                    for this very reason. The automatic manageability, scalability and reliability of the 
                    service allows AVEVA to focus our engineering resources to continuously evolve our products 
                    to gain a competitive advantage.
                </p>
                <p>- Douglas Kane, Chief Technologist, Monitoring and Control</p>
            </div>
        </div>
    </div>
</div>

<div id="albertsons-safeway" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/albertsons-safeway.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Albertsons-Safeway</h2>
                <p>
                    Azure Cosmos DB, with the Gremlin API, provided an innovative data solution for our new 
                    recipes app. Leveraging Cosmos Graph database, we were able to develop a customized 
                    product matching algorithm that served as the core engine for providing relevant products 
                    that customers could then shop to make their favorite recipes. The Cosmos Graph platform is 
                    being further leveraged to provide personalized product recommendations in the context of 
                    recipes to augment the customer shopping experience across all the banner eCommerce 
                    websites of Albertson's-Safeway. We are really excited about other use cases with Cosmos DB.
                </p>
                <p>- Sanjay Biswas, Senior Solutions Architect at Albertson's-Safeway</p>
            </div>
        </div>
    </div>
</div>

<div id="caltex" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/caltex.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Caltex</h2>
                <p>
                    When we were building Caltex's next-generation FuelPay app, Cosmos DB offered the low 
                    latency and high throughput required for the app to give our customers a seamless 
                    payment experience.
                </p>
                <p>- Viv Da Ros, Chief Information Officer, Caltex Australia </p>
            </div>
        </div>
    </div>
</div>

<div id="sitepro" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/sitepro.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>SitePro</h2>
                <p>
                    With Azure Cosmos DB and Power BI, we've completely transformed the service we can
                    provide to our customers and created a truly differentiated platform for the oil and
                    gas industry.
                </p>
                <p>- Aaron Phillips, President and Co-CEO, SitePro</p>
                <p><a class="btn btn-default" href="https://customers.microsoft.com/story/sitepro-oilandgas-azure" target="_blank" role="button">Read story</a></p>
            </div>
        </div>
    </div>
</div>

<div id="newzealand-trade-enterprise" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/nz-trade-enterprise.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>New Zealand Trade & Enterprise</h2>
                <p>
                    Using the graph database capabilities on Azure Cosmos DB, we were able to create a 
                    knowledge graph from a number of distinct data sources. This provided us with a unique 
                    view to better serve our customers at a flexible capacity and with the guarantees that 
                    Cosmos DB provides on the cloud in terms of security, availability, throughput, latency 
                    and consistency. It also integrated seamlessly with Azure Functions, API Management and 
                    Event domain to provide a fully managed experience across our entire architecture.
                </p>
                <p>- Abhishek Kumar, Architect, New Zealand Trade & Enterprise</p>
            </div>
        </div>
    </div>
</div>

<div id="swedavia" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/swedavia.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Swedavia Airports</h2>
                <p>
                    Flight information management is a very critical component for the efficient 
                    functionality of any airport - and this aspect can have a critical impact on the 
                    millions of people who travel every day. Cosmos DB allows us to create a reliable API 
                    data platform that applications, both business to business and consumer, can depend on. 
                    Its ability to handle data of any shape and serve it in milliseconds enables us to 
                    create a source of truth that is always consistent and that we can use to ensure the 
                    proper functionality of our airports.
                </p>
                <p>- API Team, Swedavia Airports</p>
            </div>
        </div>
    </div>
</div>

<div id="bmi" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/bmi.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>BMI</h2>
                <p>
                    BMI processes music usage reports from hundreds of partners all over the world including 
                    international rights societies and all of the modern digital music streaming services. 
                    These transactions come in a variety of formats and types requiring a scalable, flexible 
                    technology solution. BMI has chosen the Azure Cosmos DB product to provide a highly 
                    available and scalable architecture utilizing the flexibility of Cosmos DB's schema-free 
                    document database. Cosmos DB provides the solution BMI needs to continue to handle a 
                    growing volume of data in a digital music industry and stay at the forefront of our 
                    industry.
                </p>
                <p>- Mike West, Vice President, Enterprise Applications, Broadcast Music, Inc.</p>
            </div>
        </div>
    </div>
</div>

<div id="johnson" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/johnson.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Johnson Controls</h2>
                <p>
                    The Johnson Controls Digital Vault is a flexible, scalable, cloud-based platform that
                    gathers data, stores it securely, and standardizes it. Our platform converts that data
                    into an information asset you can leverage to predict business and building outcomes and
                    gain new insights related to buildings and occupants. Our Digital Vault can integrate data
                    from a wide range of internal and external sources to help you make sense of your entire
                    building: energy usage, security breaches, equipment performance, and space utilization.
                    Digital Vault, powered by Azure Cosmos DB, which simplifies object relationship management
                    through a single Application Programming Interface (API) layer for IoT data and events. We
                    leverage several key capabilities of Azure Cosmos DB including auto-indexing, global
                    distribution and multi-model capabilities. Having a globally distributed database like
                    Azure Cosmos DB available makes it dramatically easier to build applications to support
                    our customers and buildings wherever they may be. Cosmos DB gives us the low latency and
                    solid SLAs we need, and with fine-grained control over consistency we can make the right
                    choices for our application for performance.
                </p>
                <p>- Dr. Youngchoon Park, VP, Platform and Data Science</p>
                <p><a class="btn btn-default" href="https://azure.microsoft.com/blog/johnson-controls-tackles-a-15b-building-industry-problem-with-azure-cosmos-db/" target="_blank" role="button">Read story</a></p>
            </div>
        </div>
    </div>
</div>

<div id="allscripts" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/allscripts.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Allscripts</h2>
                <p>As a developer, having access to a cloud service that takes just a few hours to hook up 
                is gold. Azure Cosmos DB provides so much right out of the box and seems to have an answer 
                for all our needs, like configurable TTL, encryption, RESTful API, and speed-oh, is it 
                fast! These are all features we did not have to implement so we could instead focus on the 
                business layer of our application. Azure Cosmos DB and the other Azure PaaS services allowed 
                us to ramp up our development cycles, which had a multiplicative effect. The best part is, 
                Azure Cosmos DB continues to evolve; I can't wait to unlock its full potential.</p>
                <p>- Jose Molina-Melendez, Software Engineer, Allscripts</p>
                <p><a class="btn btn-default" href="https://customers.microsoft.com/story/allscripts-partner-professional-services-azure" target="_blank" role="button">Read story</a></p>
            </div>
        </div>
    </div>
</div>

<div id="asos" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/asos.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>ASOS</h2>
                <p>At ASOS, we experience tremendous customer demand handling >100M unique daily visitors 
                across >200 countries shopping over >100K of products. We needed a distributed database 
                that seamlessly and elastically scales to serve our global customers. During peak sales 
                periods we need extra computing power to cope with customer demand and manage our large 
                datasets automatically behind the scenes without the burden of complex online data 
                migrations - freeing our engineering teams to concentrate on business features, reducing 
                the need for complex coordination with business + operations teams, and most importantly, 
                seamlessly scaling with zero planned downtime. Well, I have to say I've been impressed 
                with Azure Cosmos DB - we've watched our collections seamlessly grow as our applications 
                have grown while maintaining its 99.999% availability SLA.</p>
                <p>- Gary Strange, Lead Data Engineer, ASOS</p>
                <p><a class="btn btn-default" href="https://customers.microsoft.com/story/asos-retail-and-consumer-goods-azure" target="_blank" role="button">Read story</a></p>
            </div>
        </div>
    </div>
</div>

<div id="elkjop" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/elkjop.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Elkjop</h2>
                <p>Our secret weapon is Azure Cosmos DB. Reliability plays a key role in our 
                mission-critical systems, which require predictable, lightning-fast performance and SLAs 
                of at least 99.99 percent uptime. I'm very glad that we are using Azure Cosmos DB. Thanks 
                to this solution, we are more productive. It's a fast scale up and scale down; we can 
                concentrate on creating real business value.</p>
                <p>- Jonas Granlund, Cloud Architect, Elkjop</p>
                <p><a class="btn btn-default" href="https://customers.microsoft.com/story/elkjop-retailers-azure" target="_blank" role="button">Read story</a></p>
            </div>
        </div>
    </div>
</div>

<div id="siemens" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/siemens.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Siemens Healthineers</h2>
                <p>
                    Azure Cosmos DB is an amazing technology. The biggest benefit for us is that we can have
                    one database for anonymous data that is replicated worldwide into all regions that are
                    relevant for us, in a consistency model that perfectly fits our needs. It's key that Azure Cosmos DB 
                    is naturally built into the Azure core infrastructure, and we can build on its high availability and 
                    replication, offering software to all our customers at the same time.
                </p>
                <p>- Thomas Gossler, Lead Architect, Digital Ecosystem Platform</p>
                <p><a class="btn btn-default" href="https://customers.microsoft.com/en-us/story/siemens-healthineers-health-provider-azure" target="_blank" role="button">Read story</a></p>
            </div>
        </div>
    </div>
</div>

<div id="jet" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/jet.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Jet.com</h2>
                <p>Data at Jet.com and Walmart Labs is scale. E-commerce will be a $1 trillion business in 
                the next five to ten years, and Azure Cosmos DB is critical to our vision, because we need 
                a database that will elastically scale with us. Not only that - but we also need true 
                elasticity and the ability to scale up/down on demand to help us manage our costs carefully. 
                We experience big peaks during key shopping days, where expected rates of events can 
                increase 10 to 20 compared to the rest of the year.</p>
                <p>
                    For example, for Black Friday and Cyber Monday - we needed the ability to enough provisioned throughput
                    to satisfy 1 trillion Request Units over 24 hours to satisfy our customer demand. To solve this - we
                    deployed a geo-replicated Cosmos DB collection configured for 10 million request units per second. 
                    For example, for Black Friday and Cyber Monday - we needed the ability to enough provisioned throughput 
                    to satisfy 1 trillion Request Units over 24 hours to satisfy our customer demand. To solve this - we 
                    deployed a geo-replicated Cosmos DB collection configured for 10 million request units per second.
                </p>
                <p>Cosmos DB's elastic scale, automatic indexing and Change Feed support makes it an excellent event store 
                for event sourcing. Heterogeneous events can be automatically indexed for query, and the event log exposed 
                through Change Feed can be used to reconstruct past states. Performing writes in an append-only manner via 
                event sourcing is fast and scalable for systems that are write-heavy, in particular when used in 
                combination with a write-optimized database. Many of our microservices are mission critical components to 
                our business. Cosmos DB gives us peace of mind with an aggressive 99.99% availability guarantee when 
                deployed to a single region - which is further strengthened to 99.999% when deployed across regions using 
                Cosmos DB's global distribution.</p>
                <p>- Scott Havens, Director of Engineering, Jet.com and Walmart Labs</p>
                <p><a class="btn btn-default" href="https://customers.microsoft.com/story/jet-com-powers-innovative-e-commerce-engine-on-azure-in-less-than-12-months" target="_blank" role="button">Read story</a></p>
            </div>
        </div>
    </div>
</div>

<div id="chamberlain" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/chamerberlain.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Chamberlain Group</h2>
                <p>
                    Azure Cosmos DB frees our developers to focus on delivering value to our MyQ users by 
                    providing unlimited scale and global distribution in a fully managed service.
                </p>
                <p>- Jeff Paine, MyQ Middleware Manager, Chamberlain Group</p>
            </div>
        </div>
    </div>
</div>

<div id="bentley" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/bentley.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Bentley</h2>
                <p>
                    We see great potential for Azure Cosmos DB in our products. Building a flexible, 
                    scalable data layer with Azure Cosmos DB will enable us to deliver actionable insights 
                    to our users.
                </p>
                <p>- Kaustubh Page, Senior Product Manager for Analytical Insights and Design Insights, Bentley Systems</p>
            </div>
        </div>
    </div>
</div>

<div id="jato" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/jato.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Jato</h2>
                <p>
                    Azure Cosmos DB has enabled us to put our graph data where our customers are, globally. 
                    Combining this flexibility with the capability to store documents, graph objects, and 
                    tabular data, all in the same place, has meant we are saving time developing our 
                    applications.
                </p>
                <p>- Dave McHugh, Chief Technology and Data Architect, JATO Dynamics</p>
            </div>
        </div>
    </div>
</div>

<div id="archive360" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/archive360.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Archive360</h2>
                <p>Archive2Azure's tight integration between Azure Cosmos DB Gremlin API and Azure Blob 
                Storage is a major pillar that supports our intelligent information management platform 
                at scale and across dozens of different file types.</p>
                <p>- Tibi Popp, CTO, Archive360</p>
                <p><a class="btn btn-default" href="https://customers.microsoft.com/story/archive360-partner-professional-services-azure-cosmos-db" target="_blank" role="button">Read story</a></p>
            </div>
        </div>
    </div>
</div>

<div id="symantec" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/symantec.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Symantec</h2>
                <p>
                    Cosmos DB has delivered a high-performance worldwide platform for our global reputation 
                    system. With a click of a button we can rapidly deploy regions worldwide to deliver 
                    excellent response time to our customers and partners. The Cosmos DB Cassandra API 
                    eliminated major engineering efforts during migration of our services as we were able 
                    to integrate with very minimum change. Our largest service is slated to migrate with 
                    the launch of Cassandra API support.
                </p>
                <p>- Michael Shavell, Technical Director / Architect, Symantec</p>
            </div>
        </div>
    </div>
</div>

<div id="crestron" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/crestron.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Crestron</h2>
                <p>Cosmos DB continues to provide us the scale and performance needed across many regions in 
                making our Crestron XiO Cloud successful. Support for multi-master write will be a huge plus 
                moving forward.</p>
                <p>- Krushna Samanta, Senior Manager Software Products & Enterprise Solutions, Crestron</p>
            </div>
        </div>
    </div>
</div>

<div id="liberty-mutual" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/liberty-mutual.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Liberty Mutual</h2>
                <p>
                    At Liberty Mutual, we are always looking for new ways to engage with our customers and 
                    personalize their web experience. To do this, we needed to approach data modeling 
                    differently. We had a mix of hierarchical and transitive relationship patterns and 
                    data normalization was only taking us so far. Modeling our data as a graph enabled us 
                    to address our needs, and Azure Cosmos DB enabled us to deliver this solution quicker, 
                    and in a cloud managed environment that's enterprise-ready, scalable and highly 
                    performant. The Cosmos DB Change Feed API helped us simplify synchronization with 
                    existing Systems of Record, allowing us to focus on building customer-centric 
                    capabilities rather than infrastructure and operational concerns.
                </p>
                <p>- Arvin Suresh, Architect, Liberty Mutual Insurance</p>
            </div>
        </div>
    </div>
</div>

<div id="kognitiv-spark" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/kognitiv-spark.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Kognitiv Spark</h2>
                <p>
                    The low latency geo-replicated nature of the Multi-Master feature is critical to 
                    RemoteSpark users by allowing them to connect to their local Azure Cosmos DB database, 
                    facilitating a common session between remote front-line workers and an expert. They 
                    can communicate via video/audio call, share documents, and view interactive IoT 
                    enabled holograms even though each user is connected to a different Azure Data Center. 
                    This enables remote workers to connect to experts anywhere in the world without 
                    worrying which is the best data center to connect to for optimum performance.
                </p>
                <p>- Ryan Groom, CTO, Kognitive Spark</p>
            </div>
        </div>
    </div>
</div>

<div id="servicelink" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/servicelink.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>ServiceLink</h2>
                <p>
                    ServiceLink/FNF provides digital mortgage services to some of the largest lenders in 
                    the country, and EXOS is the name of our Azure based digital platform that serves as 
                    the underpinning for various mortgage products we offer in the market. As part of the 
                    EXOS platform, for the customer facing mobile component and all the data that we 
                    leverage to run real-time algorithms, we had to choose a database with extreme low 
                    latency and high scalability to provide a sub second response to the end user. Our 
                    Uber like Vendor mobile app and the Consumer mobile app leverages micro-service based 
                    architecture to run complex algorithms and present data to the mobile users in less 
                    than a second, and Cosmos DB is at the core of this architecture. Our end user 
                    response times have come down from around 6-8 seconds prior to leveraging Cosmos DB 
                    to less than 1 second, and our TCO has come down significantly since we started 
                    leveraging Cosmos DB.
                </p>
                <p>- Kiran Vattem, EVP, Chief Digital and Technology Officer, ServiceLink</p>
            </div>
        </div>
    </div>
</div>

<div id="zeiss" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/zeiss.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Zeiss</h2>
                <p>Cosmos DB helps us to scale out our digital integration scenarios with a tremendously 
                reduced need of actually 'caring' about the resource and with a high degree of flexibility 
                of API & data models.</p>
                <p>- Kai Walter, Lead IT Solution Architect, ZEISS Group</p>
            </div>
        </div>
    </div>
</div>

<div id="diply" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/diply.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Diply</h2>
                <p>
                    We consider Azure Cosmos DB Graph API a major financial win for us. We get Azure 
                    Cosmos DB Graph API for about 2 percent of the price of our previous solution. We use 
                    Azure Cosmos DB elastic scaling to accommodate that load without having to pay for 
                    maximum capacity 24/7. We simply scale up for the duration of the import, whether that 
                    takes 10 seconds or two minutes, and then instantly scale back down.
                </p>
                <p>- Darren Boon, Development Manager, Diply</p>
            </div>
        </div>
    </div>
</div>

<div id="nextens" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/nextens.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Nextens</h2>
                <p>
                    When our customers are in the thick of doing their work, they need the right content 
                    at that moment. Our customers can look up details on recent law changes far more 
                    easily with Azure Search and Azure Cosmos DB. We refreshed our Nextens platform with 
                    Azure Cosmos DB graph and improved the quality of the relationships between all our 
                    content types, including tax laws, news, and jurisprudence. Our customers can look up 
                    details on recent law changes far more easily with Azure Search and Azure Cosmos DB 
                    graph.
                </p>
                <p>- Michael Goedhart, Senior Director of Technology, Nextens</p>
            </div>
        </div>
    </div>
</div>

<div id="skype" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/skype.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Skype</h2>
                <p>
                    Cosmos DB combines schema free document database with SQL syntax and Change Feed 
                    streaming capabilities, all under strict SLA. This is great! This substantially 
                    simplified our architecture and enabled us to meet all our core requirements.
                </p>
                <p>- Frantisek Kaduk, Principal Software Engineer, Skype</p>
            </div>
        </div>
    </div>
</div>

<div id="granden" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/granden.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>GranDen</h2>
                <p>Azure Cosmos DB provides the backbone of the solution, giving GranDen worldwide, low-latency, highly scalable data access.</p>
                <p><a class="btn btn-default" href="http://customers.microsoft.com/story/granden-media-telecommunications-azure" target="_blank" role="button">Read story</a></p>
            </div>
        </div>
    </div>
</div>

<div id="cleartrend" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/cleartrend.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>clearTREND Research</h2>
                <p>Business models are under attack, especially in the financial industry. Azure Cosmos DB is a technology that can adapt, evolve, 
                and allow a business to innovate faster in order to turn opportunities into strategic advantages.</p>
                <p><a class="btn btn-default" href="https://azure.microsoft.com/blog/a-fintech-startup-pivots-to-azure-cosmos-db/" target="_blank" role="button">Read story</a></p>
            </div>
        </div>
    </div>
</div>

<div id="rolls" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/rolls.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Rolls-Royce</h2>
                <p>The market and the customer need have become much broader as aircraft and engines have gotten more talkative and the scope of our services 
                has increased. There are terabytes of data coming from large aircraft fleets, with gigabytes per hour-rather than kilobytes-to process and analyze.</p>
                <p>- Nick Farrant, Senior Vice President, Rolls Royce</p>
                <p><a class="btn btn-default" href="https://customers.microsoft.com/story/rollsroycestory" target="_blank" role="button">Read story</a></p>
            </div>
        </div>
    </div>
</div>

<div id="exxon" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/exxon.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Exxon-Mobil</h2>
                <p>With Azure as a base platform, we can move data within the environment and into the 
                hands of our staff via any tool they want to use.</p>
                <p>- David Baumgarten, Lead Architect - XTO Energy</p>
                <p><a class="btn btn-default" href="https://customers.microsoft.com/story/exxonmobil-mining-oil-gas-azure" target="_blank" role="button">Read story</a></p>
            </div>
        </div>
    </div>
</div>

<div id="cincinnati" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/cincinnati.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Cincinnati Children's Hospital Medical Center</h2>
                <p>The EHR system has the ability to push out events, and Cincinnati Children's wanted to be able to respond to those quickly and update app users with 
                new information on same day surgery cases. The hospital solved the challenge using Azure Event Grid, Azure Functions, and Azure Cosmos DB.</p>
                <p><a class="btn btn-default" href="https://azure.microsoft.com/blog/cincinnati-children-s-has-a-great-app-development-experience-with-azure-services/" target="_blank" role="button">Read story</a></p>
            </div>
        </div>
    </div>
</div>

<div id="finastra" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/finastra.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Finastra</h2>
                <p>Our platform intersects a great deal of data and technology, yet our complete 
                integration with Azure streamlines our infrastructure, simplifies our processes and makes 
                our lives infinitely easier.</p>
                <p>- Felix Grevy, Global Head of Product Management, Finastra</p>
                <p><a class="btn btn-default" href="http://customers.microsoft.com/story/finastra-fusion-fabric-cloud-azure" target="_blank" role="button">Read story</a></p>
            </div>
        </div>
    </div>
</div>

<div id="kohler" class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/customers/kohler.png" role="presentation" alt="" class="img-responsive img-responsive-center logo" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Kohler</h2>
                <p>IoT telemetry data is stored using a Lambda approach, whereby hot-path data flows into Azure Cosmos DB for internal analytics through Microsoft Power BI, and external visualization via web and mobile apps.</p>
                <p><a class="btn btn-default" href="http://customers.microsoft.com/story/kohler-konnect-azure-iot" target="_blank" role="button">Read story</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/illustrations/people-buildings.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>And many more...</h2>
                <p>Hear from many more customers who rely on Azure Cosmos DB for their business.</p>
                <p><a class="btn btn-default" href="https://customers.microsoft.com/en-us/search?sq=Azure%20Cosmos%20DB" target="_blank" role="button">More customer stories</a></p>
            </div>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("_TryCosmos"); }
