@{
    //@inject cosmosweb.Helpers.LinkManager LinkManager;
    ViewData["Title"] = "What is Azure Cosmos DB?";
    ViewData["Description"] = "Azure Cosmos DB is Microsoft's globally-distributed multi-model database service.";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper();
}

@section header {
    <h1>What is Azure Cosmos DB?</h1>
}

<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultPadding: false)">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/illustrations/global-data-storage.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Azure Cosmos DB</h2>
                <p>Azure Cosmos DB is Microsoft's globally-distributed multi-model database service.</p>
                <p>
                    Azure Cosmos DB was built from the ground up with global distribution and horizontal scaling at its core and offers
                    turn-key global distribution across all Azure regions by transparently scaling and replicated your data wherever your users are.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/about/build.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Turnkey Global Distribution</h2>
                <p>
                    Easily build planet-scale, always "on", highly responsive, multi-homed applications without the hassle of complex,
                    multiple-datacenter configurations. Designed as a globally distributed database system, Azure Cosmos DB allows you to
                    write to and read from the local replicas of your Azure Cosmos DB database, which is replicated across any number of Azure regions.
                </p>
                <p><a class="btn btn-default" href="https://docs.microsoft.com/azure/cosmos-db/distribute-data-globally" role="button">Learn about global data distribution</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/about/elastic.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Limitless elastic scalability</h2>
                <p>
                    Azure Cosmos DB elastically scales reads and writes globally and pay only for the throughput and storage you need.
                    Designed with transparent horizontally-partitioning, and multi-master replication, Azure Cosmos DB offers unprecedented
                    elastic scalability for your writes and reads, all around the globe!
                </p>
                <p><a class="btn btn-default" href="https://docs.microsoft.com/azure/cosmos-db/scaling-throughput" role="button">Learn about scalability</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/about/high-performance.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Guaranteed low latency</h2>
                <p>
                    Build highly responsive, planet scale applications. With its novel multi-master replication protocol and latch-free and
                    write-optimized database engine, Azure Cosmos DB guarantees less than 10-ms latencies for both, reads and (indexed) writes
                    at the 99th percentile, all around the world.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/about/consistency.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Well-defined consistency choices</h2>
                <p>
                    You no longer have to make the extreme tradeoffs between consistency, availability, latency and programmability.
                    Azure Cosmos DB's multi-master replication protocol is carefully designed to offer five well-defined consistency choices
                    - strong, bounded staleness, consistent-prefix, session, and eventual-for an intuitive programming model with low latency
                    and high availability for your globally distributed applications.
                </p>
                <p><a class="btn btn-default" href="https://docs.microsoft.com/azure/cosmos-db/consistency-levels" role="button">Learn about consistency levels</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/about/migration.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Multi-model with native NoSQL API support</h2>
                <p>
                    Azure Cosmos DB allows you to model real world data using key-value, graph, column-family, and document data models. 
                    You don't have to deal with the hassle of managing schemas and secondary indexes - Azure Cosmos DB automatically indexes 
                    all data at the time of ingestion. You can also use your favorite API including Azure Cosmos DB's Core (SQL), 
                    <a href="https://docs.microsoft.com/azure/cosmos-db/cassandra-support" target="_blank">Apache Cassandra</a>, 
                    <a href="https://docs.microsoft.com/azure/cosmos-db/gremlin-support" target="_blank">Gremlin</a>, 
                    <a href="https://docs.microsoft.com/azure/cosmos-db/table-support" target="_blank">Table Storage</a> and 
                    <a href="https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-feature-support" target="_blank">Azure Cosmos DB for MongoDB API</a> to access your data stored in your Azure Cosmos DB database.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/about/security.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Enterprise-grade performance and security</h2>
                <p>
                    Rest assured your apps are running on a "battle-tested" database service built on world-class infrastructure.
                    Azure Cosmos DB gives you enterprise-grade security and compliance, and is the first and only service to offer
                    <a href="https://azure.microsoft.com/en-us/support/legal/sla/cosmos-db" target="_blank">industry-leading comprehensive SLAs</a> for 99.999% high availability,
                    latency at the 99th percentile, guaranteed throughput, and consistency.
                </p>
                <p><a class="btn btn-default" href="https://docs.microsoft.com/azure/cosmos-db/database-security" role="button">Learn about security</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="text-center">
            <h2>Applications</h2>
            <p class="mb-65">You can build many types of apps with Azure Cosmos DB and it's easy to get started.</p>
        </div>

        @{ await Html.RenderPartialAsync("_SqlApiGetStarted"); }
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/illustrations/people-buildings.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Why choose Azure Cosmos DB?</h2>
                <p>Find out why customers all over the world, in many different industries, rely on Azure Cosmos DB.</p>
                <p><a class="btn btn-default" href="~/about/customers">Why choose Azure Cosmos DB?</a></p>
            </div>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("_TryCosmos"); }
