@{
    ViewData["Title"] = "Azure Cosmos DB Presentations";
    ViewData["Description"] = "Azure Cosmos DB public presentations";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper();
}

@section header {
    <h1>Azure Cosmos DB Presentations</h1>
}

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/learn/build-2022.jpg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>BUILD 2022</h2>
                <p>Watch our presentations from BUILD 2022.</p>
                <ul>
                    <li><a href="https://youtu.be/tFNyGCKT47s" target="_blank">Validating Azure Cosmos DB strategies for cost effectiveness and elasticity</a></li>
                    <li><a href="https://youtu.be/U29V_LUn-Eo" target="_blank">Deploy modern containerized apps and cloud native databases at scale</a></li>
                    <li><a href="https://youtu.be/8ltZS4QuyCs" target="_blank">Ask the Experts: Deploy modern containerized apps and cloud native databases at scale</a></li>
                    <li><a href="https://youtu.be/0jUWTg8WsZ4" target="_blank">Learn how to enable analytics over real-time operational data with Azure Synapse Link</a></li>
                    <li><a href="https://youtu.be/cMJMEyGzi64" target="_blank">Scaling to a Billion Devices - Azure IoT Platform Vision and Roadmap</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/learn/ignite-2021.png" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>IGNITE 2021</h2>
                <p>Watch our presentations from IGNITE 2021.</p>
                <ul>
                    <li><a href="https://youtu.be/JPbTLgFOf-0" target="_blank">Model and Partition your Data in Azure Cosmos DB</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/learn/build-2021.jpg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>BUILD 2021</h2>
                <p>Watch our presentations from BUILD 2021.</p>
                <ul>
                    <li><a href="https://youtu.be/HUt6n0dHSOk" target="_blank">Ask the Experts: Build cloud native apps of any scale with Azure Cosmos DB</a></li>
                    <li><a href="https://youtu.be/_95MH95G2vs" target="_blank">Learn how to Connect Azure Cosmos DB with Apache Kafka</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/learn/microsoft-ignite-2020-logo.jpg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>IGNITE 2020</h2>
                <p>Watch our presentations from IGNITE 2020.</p>
                <ul>
                    <li><a href="https://youtu.be/v1wAt7nux1k" target="_blank">Building modern apps with Azure Cosmos DB serverless and Azure Cache for Redis enterprise</a></li>
                    <li><a href="https://youtu.be/o2iFdU0EBLg" target="_blank">Real-time analytics and BI using Azure Synapse Link for Azure Cosmos DB</a></li>
                    <li><a href="https://youtu.be/PsZdnoJeoOE" target="_blank">Best Practices of Running Cloud Native Applications on Azure</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/learn/microsoft_build_logo_2020.jpg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>BUILD 2020</h2>
                <p>Watch our presentations from BUILD 2020 and download the decks.</p>
                <ul>
                    <li><a href="https://mybuild.microsoft.com/sessions/9c8fa83f-5c1b-4f61-a6fd-5362656eec84" target="_blank">Building scalable and secure applications with Azure Cosmos DB</a></li>
                    <li><a href="https://mybuild.microsoft.com/sessions/ab1e2d80-29b7-4301-b8b1-95b8ced4c4da" target="_blank">Building real-time HTAP analytics solutions with Azure Cosmos DB & Azure Synapse Analytics</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/learn/microsoft-ignite-logo.png" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>IGNITE 2019</h2>
                <p>Watch our presentations from IGNITE 2019.</p>
                <ul>
                    <li><a href="https://youtu.be/ZCG6weeP08M" target="_blank">What's the latest with Azure Cosmos DB</a></li>
                    <li><a href="https://youtu.be/v3GnsHk6YZs" target="_blank">A developer's guide to Azure Cosmos DB, from onboarding to going live in production</a></li>
                    <li><a href="https://youtu.be/utdxvAhIlcY" target="_blank">Data modeling and partitioning in Azure Cosmos DB: What every relational database user needs to know</a></li>
                    <li><a href="https://youtu.be/faXkCccz5eA" target="_blank">Building event driven apps with Azure Cosmos DB and Azure Functions</a></li>
                    <li><a href="https://youtu.be/w7d5BAlHGoI" target="_blank">Updates and best practices in Azure Cosmos DB API for Mongo DB</a></li>
                    <li><a href="https://youtu.be/ddo1WVCPAfM" target="_blank">Multi-master and global distribution with Azure Cosmos DB</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/learn/microsoft-build-logo.jpg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>BUILD 2019</h2>
                <p>Watch our presentations from BUILD 2019.</p>
                <ul>
                    <li><a href="https://www.youtube.com/watch?v=fOQoQnQqwwU&list=PLlrxD0HtieHgspNIlv1x2H5_cxSRm7B17" target="_blank">Mission-critical multi-tenant apps with Cosmos DB multi-master</a></li>
                    <li><a href="https://www.youtube.com/watch?v=bQBeTeYUrR8&list=PLlrxD0HtieHgspNIlv1x2H5_cxSRm7B17" target="_blank">Best practices for Azure Cosmos DB: Data modeling, Partitioning and RUs</a></li>
                    <li><a href="https://www.youtube.com/watch?v=J5RTUwBCceA" target="_blank">Building event driven apps with Azure Functions and Azure Cosmos DB change feed</a></li>
                    <li><a href="https://www.youtube.com/watch?v=xj_PBvtGdNU&list=PLlrxD0HtieHgspNIlv1x2H5_cxSRm7B17" target="_blank">Real-time Analytics with Azure Cosmos DB and Apache Spark</a></li>
                    <li><a href="https://www.youtube.com/watch?v=CyEHkAIqIo0&list=PLlrxD0HtieHgspNIlv1x2H5_cxSRm7B17" target="_blank">Architecting Cloud-Native Apps with AKS and Cosmos DB</a></li>
                    <li><a href="https://www.youtube.com/watch?v=mkvwZhkQBWQ&list=PLlrxD0HtieHgspNIlv1x2H5_cxSRm7B17" target="_blank">Processing telematics data using Azure EventHubs, Cosmos DB and NodeJs</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("_TryCosmos"); }
