@{
    ViewData["Title"] = "Azure Cosmos DB Presentations";
    ViewData["Description"] = "Azure Cosmos DB presentations to customers.";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper();
}

@section header {
    <h1>Azure Cosmos DB Presentations</h1>
}

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/learn/microsoft-ignite-logo.png" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Ignite 2018</h2>
                <p>Watch our latest presentations at Ignite 2018 and download the decks.</p>
                <ul>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/65366" target="_blank">Technical overview of Azure Cosmos DB</a></li>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/65927" target="_blank">Modeling data and best practices for the Azure Cosmos DB SQL API</a></li>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/65367" target="_blank">Lambda architecture simplified with Azure Cosmos DB and Azure Databricks</a></li>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/65368" target="_blank">Event driven architecture with Azure Functions and Azure Cosmos DB</a></li>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/65369" target="_blank">How to migrate existing MongoDB and Cassandra apps to Azure Cosmos DB</a></li>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/65370" target="_blank">Advanced Azure Cosmos DB: Design patterns, tips, and tricks</a></li>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/65923" target="_blank">Multi-master at global scale with Azure Cosmos DB</a></li>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/65371" target="_blank">Azure Cosmos DB for enterprise: Security, compliance, and GDPR</a></li>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/65924" target="_blank">Building massively scalable IoT data pipelines with Azure Cosmos DB</a></li>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/65925" target="_blank">Traversing Scalable Graphs with Azure Cosmos DB's Gremlin API</a></li>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/65922" target="_blank">Common data problems solved with graphs using Azure Cosmos DB Gremlin API</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/illustrations/screen.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Customer Presentations</h2>
                <p>Download and view our latest customer Powerpoint presentations.</p>
                <ul>
                    <li><a href="https://github.com/AzureCosmosDB/fileshare/blob/master/decks/CosmosDB-briefing.pptx?raw=true" target="_blank">Azure Cosmos DB Overview Briefing</a></li>
                    <li><a href="https://github.com/AzureCosmosDB/fileshare/blob/master/decks/Azure%20Cosmos%20DB%20+%20Analytics.pptx?raw=true" target="_blank">Azure Cosmos DB + Analytics</a></li>
                    <li><a href="https://github.com/AzureCosmosDB/fileshare/blob/master/decks/Azure%20Cosmos%20DB%20L400%20tech%20Deck_06282018.PPTX?raw=true" target="_blank">Azure Cosmos DB - Level 400 Deep Dive</a></li>
                    <li><a href="https://github.com/AzureCosmosDB/fileshare/blob/master/decks/Azure%20Cosmos%20DB_Nov2018.pptx?raw=true" target="_blank">Azure Cosmos DB - Deep Dive</a></li>
                    <li><a href="https://github.com/AzureCosmosDB/fileshare/blob/master/decks/Azure%20CosmosDB%20Security.pptx?raw=true" target="_blank">Azure Cosmos DB - Security Overview</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/illustrations/screen-blue-image.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Flyers</h2>
                <p>Download and view or print these helpful flyers</p>
                <ul>
                    <li><a href="https://github.com/AzureCosmosDB/fileshare/raw/master/flyers/azure_cosmos_db_cheat%20sheet.pdf" target="_blank">Azure Cosmos DB Cheat Sheet</a></li>
                    <li><a href="https://github.com/AzureCosmosDB/fileshare/raw/master/flyers/azure_cosmos_db_change%20feed.pdf" target="_blank">Azure Cosmos DB Change Feed Support</a></li>
                    <li><a href="https://github.com/AzureCosmosDB/fileshare/raw/master/flyers/azure_cosmos_db_flyer.pdf" target="_blank">Azure Cosmos DB Features Overview</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("_TryCosmos"); }
