@{
    ViewData["Title"] = "Azure Cosmos DB Presentations";
    ViewData["Description"] = "Azure Cosmos DB presentations to customers.";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper();
}

@section header {
    <h1>Azure Cosmos DB Presentations</h1>
}

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/learn/microsoft-ignite-logo.png" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Ignite 2018</h2>
                <p>Watch our latest presentations at Ignite 2018 and download the decks.</p>
                <ul>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/65366" target="_blank">Technical overview</a></li>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/65927" target="_blank">Modeling data and best practices</a></li>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/65367" target="_blank">Lambda architecture</a></li>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/65368" target="_blank">Event driven architecture</a></li>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/65369" target="_blank">How to migrate MongoDB and Cassandra apps</a></li>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/65370" target="_blank">Advanced Azure Cosmos DB</a></li>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/65923" target="_blank">Multi-master at global scale</a></li>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/65371" target="_blank">Security, compliance, and GDPR</a></li>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/65924" target="_blank">Building massively scalable IoT data pipelines</a></li>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/65925" target="_blank">Traversing Scalable Graphs with Gremlin API</a></li>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/65922" target="_blank">Common data problems solved with Gremlin API</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/illustrations/screen-blue-image.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Flyers</h2>
                <p>Download and view or print these helpful flyers</p>
                <ul>
                    <li><a href="https://github.com/AzureCosmosDB/fileshare/raw/master/flyers/azure_cosmos_db_cheat%20sheet.pdf" target="_blank">Azure Cosmos DB Cheat Sheet</a></li>
                    <li><a href="https://github.com/AzureCosmosDB/fileshare/raw/master/flyers/azure_cosmos_db_change%20feed.pdf" target="_blank">Azure Cosmos DB Change Feed Support</a></li>
                    <li><a href="https://github.com/AzureCosmosDB/fileshare/raw/master/flyers/azure_cosmos_db_flyer.pdf" target="_blank">Azure Cosmos DB Features Overview</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("_TryCosmos"); }
