@{
    ViewData["Title"] = "Azure Cosmos DB Presentations";
    ViewData["Description"] = "Azure Cosmos DB presentations to customers.";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper();
}

@section header {
    <h1>Azure Cosmos DB Presentations</h1>
}

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/learn/microsoft_build_logo_2020.jpg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>BUILD 2020</h2>
                <p>Watch our latest presentations from BUILD 2020 and download the decks.</p>
                <ul>
                    <li>
                        INT125 - Building scalable and secure applications with Azure Cosmos DB 
                        <a href="https://mybuild.microsoft.com/sessions/9c8fa83f-5c1b-4f61-a6fd-5362656eec84" target="_blank"> Video </a> |
                        <a href="https://github.com/AzureCosmosDB/content/blob/master/decks/BUILD-2020_INT125.pptx?raw=true" target="_blank"> Deck </a>
                    </li>
                    <li>
                        INT124 - Building real-time HTAP analytics solutions with Azure Cosmos DB & Azure Synapse Analytics
                        <a href="https://mybuild.microsoft.com/sessions/ab1e2d80-29b7-4301-b8b1-95b8ced4c4da" target="_blank"> Video </a> | 
                        <a href="https://github.com/AzureCosmosDB/content/blob/master/decks/BUILD-2020-INT124.pptx?raw=true" target="_blank"> Deck </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/learn/microsoft-ignite-logo.png" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>IGNITE 2019</h2>
                <p>Watch our latest presentations at IGNITE 2019 and download the decks.</p>
                <ul>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/81004" target="_blank">What's the latest with Azure Cosmos DB</a></li>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/81002" target="_blank">A developer's guide to Azure Cosmos DB, from onboarding to going live in production</a></li>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/79932" target="_blank">Data modelling and partitioning in Azure Cosmos DB: What every relational database user needs to know</a></li>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/79933" target="_blank">Building event driven apps with Azure Cosmos DB and Azure Functions</a></li>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/79931" target="_blank">Updates and best practices in Azure Cosmos DB API for Mongo DB</a></li>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/81003" target="_blank">Multi-master and global distribution with Azure Cosmos DB</a></li>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/84631" target="_blank">Enterprise Time Tracking Using Azure Cosmos DB</a></li>
                    <li><a href="https://myignite.techcommunity.microsoft.com/sessions/89316" target="_blank">Channel 9: Key concepts on how to build high performance, highly available applications in the cloud</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/learn/microsoft-build-logo.jpg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>BUILD 2019</h2>
                <p>Watch our latest presentations from BUILD 2019 and download the decks.</p>
                <ul>
                    <li><a href="https://mybuild.techcommunity.microsoft.com/sessions/76994" target="_blank">Mission-critical multi-tenant apps with Cosmos DB multi-master</a></li>
                    <li><a href="https://mybuild.techcommunity.microsoft.com/sessions/76995" target="_blank">Best practices for Azure Cosmos DB: Data modeling, Partitioning and RUs</a></li>
                    <li><a href="https://mybuild.techcommunity.microsoft.com/sessions/76992" target="_blank">Building event driven apps with Azure Functions and Azure Cosmos DB change feed</a></li>
                    <li><a href="https://mybuild.techcommunity.microsoft.com/sessions/76993" target="_blank">Real-time Analytics with Azure Cosmos DB and Apache Spark</a></li>
                    <li><a href="https://mybuild.techcommunity.microsoft.com/sessions/77138" target="_blank">Architecting Cloud-Native Apps with AKS and Cosmos DB</a></li>
                    <li><a href="https://mybuild.techcommunity.microsoft.com/sessions/77170" target="_blank">Processing telematics data using Azure EventHubs, Cosmos DB and NodeJs</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/illustrations/screen-blue-image.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Flyers</h2>
                <p>Download and view or print these helpful flyers</p>
                <ul>
                    <li><a href="https://github.com/AzureCosmosDB/fileshare/raw/master/flyers/azure_cosmos_db_cheat%20sheet.pdf" target="_blank">Azure Cosmos DB Cheat Sheet</a></li>
                    <li><a href="https://github.com/AzureCosmosDB/fileshare/raw/master/flyers/azure_cosmos_db_change%20feed.pdf" target="_blank">Azure Cosmos DB Change Feed Support</a></li>
                    <li><a href="https://github.com/AzureCosmosDB/fileshare/raw/master/flyers/azure_cosmos_db_flyer.pdf" target="_blank">Azure Cosmos DB Features Overview</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("_TryCosmos"); }
