@{
    ViewData["Title"] = "Azure Cosmos DB SQL API";
    ViewData["Description"] = "Build your first app using Azure Cosmos DB's SQL API.";
    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper();
}

@section header {
    <h1 class="text-center">Azure Cosmos DB SQL API</h1>
}

<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultMargins: false) learn" id="sql">
    <div class="container">
        <div class="text-left">
            <h2>Get Started</h2>
            <p class="mb-40">
                New to Azure Cosmos DB and don't know where to start? Start with the Azure Cosmos DB SQL API and build the app of your choice in .NET, Java, Node.js or Python.
            </p>
        </div>
        @{ await Html.RenderPartialAsync("_SqlApiGetStarted"); }
    </div>
</div>


<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultMargins:false)">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/shared/mslogo.png" height="400px" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Presentations</h2>
                <p>
                    Watch sessions from prior Microsoft BUILD and IGNITE events on our YouTube channel. There is lots of great information right here straight from the team.
                </p>
                <p><a class="btn btn-default" href="/Learn/Presentations" target="_blank" role="button">Browse sessions</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultMargins:false)">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/learn/microsoft-certified-specialty-badge.svg" height="400px" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Azure Cosmos DB Certification</h2>
                <p>
                    Elevate your game and get certified with the Azure Cosmos DB Developer Specialty certification. Learn more about this certification, consume the Microsoft Learn content
                    to prepare or attend instructor-led instruction, sign up for the exam.
                </p>
                <p><a class="btn btn-default" href="https://docs.microsoft.com/learn/certifications/azure-cosmos-db-developer-specialty/" target="_blank" role="button">Learn more</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultMargins:false)">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/illustrations/toolbox2.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Online Hands-On Labs</h2>
                <p>
                    Check out the best online learning content for Azure Cosmos DB. This content will give you hands-on experience working with Azure Cosmos DB using it's Core (SQL) API.
                    Content is all available online and consumed at your own pace.
                </p>
                <p><a class="btn btn-default" href="/Learn/Labs" role="button">Browse online Labs</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultMargins:false)">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/illustrations/books-beaker.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Architectural Guidance</h2>
                <p>
                    Leverage proven architecture patterns to build solutions for Azure Cosmos DB. Much of the guidance and patterns here contributed and tested by Microsoft 
                    customers. Curated and reviewed by Microsoft Architects, some with reference implementations to help quickly prototype and reduce time to market.
                </p>
                <p><a class="btn btn-default" href="~/Learn/Sql/Architecture" role="button">Browse online Labs</a></p>
            </div>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("_TryCosmos"); }
