@{ ViewData["Title"] = "Azure Cosmos DB Online Labs";
    ViewData["Description"] = "See online hands-on learning content is available for Azure Cosmos DB.";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper(); }

@section header {
    <h1>Azure Cosmos DB Online Labs</h1>
}

<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultMargins:false)">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/illustrations/toolbox2.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Azure Cosmos DB Certification Readiness</h2>
                <p>
                    Azure Cosmos DB's Certification comes with 13 Learning Paths containing 33 Microsoft Learn Lab modules you can use to help prepare for the certification exam. Begin your journey 
                    to master Azure Cosmos DB and raise your proficency to design and build high performance and scalable applications.
                </p>
                <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/learn/certifications/azure-cosmos-db-developer-specialty/" target="_blank" role="button">Visit Azure Cosmos DB Certification Readiness</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultMargins:false)">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/learn/iot-lab.png" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Azure Cosmos DB IoT and Retail Workshops</h2>
                <p>
                    These IoT and Retail Workshops are two fully complete reference applications built to be delivered as two separate 2 day workshops. Users can either go through the workshop guide and build out the 
                    solution step at a time, or deploy the demo to quickly and easily see how to build fully functional Azure solutions using Azure Cosmos DB.
                </p>
                <p><a class="btn btn-default" href="https://github.com/AzureCosmosDB/scenario-based-labs" target="_blank" role="button">Visit Azure Cosmos DB IoT & Retail Workshops</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/illustrations/books-beaker.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Work with NoSQL Data in Azure Cosmos DB Learning Path</h2>
                <p>
                    The <i>Work with NoSQL data in Azure Cosmos DB</i> Learning Path is offered through the online Microsoft Learn platform. This learning path can help you prepare for the Microsoft Certified: Azure Developer Associate certification.
                </p>
                <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/learn/paths/work-with-nosql-data-in-azure-cosmos-db/" target="_blank" role="button">Visit Microsoft Learn</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/learn/pluralsight.png" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Pluralsight</h2>
                <p>
                    Pluralsight offers some of the best hands-on learning content for Azure Cosmos DB. Developers serious about getting deep knowledge and quickly becoming proficient on Cosmos DB should look
                    to these course offerings.
                </p>
                <ul>
                    <li><a href="https://www.pluralsight.com/courses/azure-cosmos-db" target="_blank">Learning Azure Cosmos DB</a></li>
                    <li><a href="https://www.pluralsight.com/courses/data-modeling-partitioning-patterns-azure-cosmos-db" target="_blank">Data Modeling and Partitioning Patterns in Azure Cosmos DB</a></li>
                    <li><a href="https://www.pluralsight.com/courses/building-event-driven-microservices-azure-cosmos-db-change-feed" target="_blank">Building Event-driven Microservices with the Azure Cosmos DB Change Feed</a></li>
                </ul>   
                <p><i>Pluralsight requires registration for a 10-day trial. All courses combined are about 11 hours of online delivery.</i></p>
            </div>
        </div>
    </div>
</div>

<!--
<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/shared/mslogo.png" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Microsoft Learning Official Curriculum</h2>
                <p>
                    Course 20777A: Implementing Microsoft Azure Cosmos DB Solutions: This three-day instructor-led course is aimed at database professionals who are looking to implement an Azure Cosmos DB solution.
                    This course is offered by Microsoft Learning partners and can be taken as on-demand (online) or classrom (in-person) training.
                </p>
                <p><a class="btn btn-default" href="https://www.microsoft.com/learning/course.aspx?cid=20777" target="_blank" role="button">Visit Microsoft Learning</a></p>
            </div>
        </div>
    </div>
</div>
-->

@{ await Html.RenderPartialAsync("_TryCosmos"); }
