@{
    ViewData["Title"] = "Azure Cosmos DB Workshops";
    ViewData["Description"] = "See what in-person and online Azure Cosmos DB Workshops are available.";

    var swimLaneHelper = new cosmosweb.Helpers.SwimLaneHelper();
}

@section header {
    <h1>Azure Cosmos DB Workshops</h1>
}

<div class="@swimLaneHelper.GetSwimLaneCssClass(includeDefaultMargins:false)">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/illustrations/toolbox2.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Azure Cosmos DB Workshop</h2>
                <p>
                    This workshop is built by the Azure Cosmos DB team and will give you hands-on experience working with Azure Cosmos DB using it's Core (SQL) API and server-side JavaScript using either or .NET SDK or Java SDK.
                    Workshop length is about 12-15 hours of instructor-led content or download and consume the content and labs at your own pace.
                </p>
                <p><a class="btn btn-default" href="https://azurecosmosdb.github.io/labs/" target="_blank" role="button">Visit Azure Cosmos DB Workshop</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/illustrations/books-beaker.svg" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Microsoft Learn online platform</h2>
                <p>
                    Work with NoSQL data in Azure Cosmos DB: Learn how to use the Azure portal, the Azure Cosmos DB extension for Visual Studio Code, and the Azure Cosmos DB .NET Core SDK to work with your NoSQL
                    data where you want, and provide your users with high availability, no matter where they are in the world.
                </p>
                <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/learn/paths/work-with-nosql-data-in-azure-cosmos-db/" target="_blank" role="button">Visit Microsoft Learn</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/shared/mslogo.png" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Microsoft Learning Official Curriculum</h2>
                <p>
                    Course 20777A: Implementing Microsoft Azure Cosmos DB Solutions: This three-day instructor-led course is aimed at database professionals who are looking to implement an Azure Cosmos DB solution.
                    This course is offered by Microsoft Learning partners and can be taken as on-demand (online) or classrom (in-person) training.
                </p>
                <p><a class="btn btn-default" href="https://www.microsoft.com/learning/course.aspx?cid=20777" target="_blank" role="button">Visit Microsoft Learning</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/learn/pluralsight.png" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Pluralsight - Learning Azure Cosmos DB</h2>
                <p>
                    Microsoft's Azure Cosmos DB is becoming an essential tool for creating powerful global web and mobile applications.
                    This course will teach you how to design databases and build applications using the various Azure Cosmos DB APIs and supported data models.
                </p>
                <p><i>This workshop requires registration for the 10-day trial. Workshop length is about 6 hours of online delivery.</i></p>
                <p><a class="btn btn-default" href="https://www.pluralsight.com/courses/azure-cosmos-db" target="_blank" role="button">Visit Pluralsight</a></p>
            </div>
        </div>
    </div>
</div>

<div class="@swimLaneHelper.GetSwimLaneCssClass()">
    <div class="container">
        <div class="row vertical-align-sm">
            <div class="@swimLaneHelper.GetIllustrationCssClass()">
                <img src="~/images/learn/skillmeup.png" role="presentation" alt="" class="img-responsive img-responsive-center" asp-append-version="true" />
            </div>
            <div class="@swimLaneHelper.GetContentCssClass()">
                <h2>Opsgility - Introduction to Azure Cosmos DB</h2>
                <p>
                    This course explores the NoSQL storage options available within the Microsoft Azure Cosmos DB database service. 
                    Azure Cosmos DB is a multi-model database with support for all 4 primary NoSQL data models (Document, Graph, Key/Value, Column). 
                    In addition to learning about NoSQL with Azure Cosmos DB, students will also learn about the cloud-native features that make Azure Cosmos DB a 
                    great NoSQL database-as-a-service in the Microsoft Azure cloud.
                </p>
                <p><i>This workshop requires registration for a free trial. Workshop length is about 1 hour of online delivery.</i></p>
                <p><a class="btn btn-default" href="https://skillmeup.com/courses/player/introduction-to-azure-cosmos-db" target="_blank" role="button">Visit Opsgility</a></p>
            </div>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("_TryCosmos"); }
